.ButtonTmgCss2 {
  color: black;
  background: linear-gradient(to top, black 100%, transparent 100%); 
  transition: 0.5s;
  background-size: 100% 0%;
  background-repeat: no-repeat;
  border-top: 2px solid black;
  border: none;
  border-radius: 0;
  transform: rotate(180deg); // Button rotated because it's not working as intended

  &:hover {
    color: white;
    background-size: 100% 100%;
    border: none; // This line also implicitly keeps border-radius at 0
    cursor: pointer;

  }

  &:focus {
    outline: none;
  }

  span {
    display: block;
    transform: rotate(180deg); // Text rotated to correct the button's effect
  }
}
