.ButtonTmgCss3 {
  color: black;
  background-color: inherit;
  border: none;

  &:hover {
    text-decoration: underline;
    border: none;
    text-underline-offset: 0.5rem;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.buttonBlackPWhite {
  border: 1px solid black;
  padding: 5px;
  border-radius: 1;
  margin-bottom: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.buttonWhitePBlack {
  border: 1px solid black;
  padding: 5px;
  border-radius: 1;
  margin-bottom: 5px;
  background-color: white;
  color: black;
  cursor: pointer;

}
