@import "../defaultVariables.scss";

.ButtonTmgCss3 {
  color: $black;
  background-color: inherit;
  border: none;

  &:hover {
    text-decoration: underline;
    border: none;
    text-underline-offset: 0.5rem;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.buttonBlackPWhite {
  border: 1px solid $black;
  padding: 5px;
  border-radius: 1;
  margin-block-end: 0.3125rem;
  background-color: $black;
  color: $white;
  cursor: pointer;
}

.buttonWhitePBlack {
  border: 1px solid $black;
  padding: 5px;
  border-radius: 1;
  margin-block-end: 0.3125rem;
  background-color: $white;
  color: $black;
  cursor: pointer;

}
