$button-background: #2c2c2c;
$button-color: #a89156;
$button-border-width: 0.35rem;
$button-font-size: 1rem;
$button-margin: 2rem;
$button-hover-border-color: #a89156;
$button-transform-active: translateY(4px);

.ButtonTmgCss {
  background-color: $button-background;
  color: $button-color;
  border-radius: 2px;
  border: $button-border-width solid $button-color;
  font-size: $button-font-size;
  margin: $button-margin;

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: $button-hover-border-color;
    cursor: pointer;
  }

  &:active {
    transform: $button-transform-active;
  }

  @media screen and (max-width: 992px) {
    font-size: 0.5rem;
    border: 0.2rem solid $button-color;
  }
}
