/* CarouselPDP.css */
.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{ 
      font-size: 0.5rem;
    }
  }
  
  .carousel-items {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-evenly;
    
  }
  
  .carousel-item {
    margin: 0 10px;
    text-align: center;
    border: 1px solid pink;
    cursor: pointer;

  }
  
  .carousel-item img {
    max-width: 100px;
    max-height: 100px;
  }
  