.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;

  .carousel-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    padding: 5rem;

    img {
      display: block; 
      width: 100%; 
      height: 500px;
      object-fit: cover;
      overflow: hidden;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  button {
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    height: 100%; 

    &:hover {
      color: black;
    }

    &:first-of-type {
      left: 0;
    }

    &:last-of-type {
      right: 0;
    }
  }
}
