.shipmentContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: center;
    align-content: center;
    list-style: none;
    
    .shipmentFormList {
      list-style: none;
      
      input {
        border: none; 
        border-bottom: 1px solid black; 
        margin-bottom: 2%;
      }
      select {
        border: none; 
        border-bottom: 1px solid black; 
        margin-bottom: 5%;
      }
      label {
        width: 65%;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
      }

    }
  }

  .paymentForm{
    display: flex;
    flex-direction: column;
    input {
      border: none; 
      border-bottom: 1px solid black; 
      margin-bottom: 2%;
    }
    select {
      border: none; 
      border-bottom: 1px solid black; 
      margin-bottom: 5%;
    }
    label {
      width: 65%;
      margin-right: 5%;
      display: flex;
      flex-direction: row;
      margin-bottom: 5%;
    }

}