.errorBox {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .errorPBox {
        margin-top: 15rem;
        width: 50%;
        height: max-content;
        align-items: center;
        text-align: center;
        padding: 5rem;
        .purchaseError {
            font-size: 45px;
            font-style: bolder;
            margin-block-start: 7rem;
        }
        .errorSubtitle {
            font-size: x-large;
        }

    }
    .progress-barError {
        width: 50%;
        background-color: $lightBlack;
        margin-block-start:1.25rem; 
        margin-block-end: 1.25rem;
        .progressError {
            height: 0.625rem;
            background-color: $red;
            transition: width 0.5s;
          }
    }
}