.shipmentContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: center;
    align-content: center;
    list-style: none;
    
    .shipmentFormList {
      list-style: none;
      
      input {
        border: none; 
        border-bottom: 1px solid $black; 
        margin-bottom: 2%;
        width: 55%;
      }
      select {
        border: none; 
        border-bottom: 1px solid $black; 
        margin-bottom: 5%;
      }
      label {
        width: 65%;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
      }

    }
  }

  #prefix{
    width: 3rem;
  }

  .paymentForm{
    display: flex;
    flex-direction: column;
    input {
      border: none; 
      border-bottom: 1px solid $black; 
      margin-bottom: 2%;
    }
    select {
      border: none; 
      border-bottom: 1px solid $black; 
      margin-bottom: 5%;
    }
    label {
      width: 65%;
      margin-right: 5%;
      display: flex;
      flex-direction: row;
      margin-bottom: 5%;
    }

}

.styled-radio {
  display: none;

  + label {
    position: relative;
    padding-inline-start: 1.875 rem; 
      &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0.9rem;
          height: 0.9rem; 
          border: 1px solid $black;     
      }  
  }

  &:checked + label:before {
      background-color: $black; 
  }
}


.errorPayment{
  color: red;
  text-transform: lowercase;
  margin-inline-end: .1rem;
}

.errorPayment::first-letter{
  text-transform: capitalize;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 5rem;
}

.custom-dropdown__selected {
  cursor: pointer;
}

.custom-dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 10;
}

.custom-dropdown__list li {
  padding: 10px;
  cursor: pointer;
}

.custom-dropdown__list li:hover {
  background: #f0f0f0;
}

#phoneNumber{
  border-bottom: 0;
  margin-bottom: 0;
}

.numberField{
  border-block-end: 1px solid black;
  max-width: 13rem;
  margin-block-start: .5rem;
}

.showBillingAddress{
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
}