.wrapCard {
    display: flex;
    flex-direction: column;
}

.containerCardPLP {
    margin: 0 auto;
    margin-bottom: 2rem; 
    max-width: 25rem; 
    max-height: 37.5rem; 
}

.containerImgPLP img {
    width: 25rem; 
    height: 31.25rem; 
    object-fit: cover;
    cursor: pointer;
}

.descriptionCardPLP {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}


.containerPricePLP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .loadMorePlpButton {
        background-color: rgba(211, 211, 211, 0.5);
        padding: 1rem 2rem;
        cursor: pointer;
        border: none;
        width: 10rem; 
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .loadMorePlpButton:hover {
        background-color: rgba(211, 211, 211, 0.8); 
      }
       
     