
.containerCardPDP {
  margin: 0 auto;
  margin-block-end: 4rem;
  display: flex;
  flex-direction: column;
}


.containerImgPDP {
  margin: auto;
  img {
      max-width: 20rem;
      max-height: 22.5rem;
      object-fit: contain;
    }
  }

  .wrapperImg{
    margin-block-start: 2rem;
  }

  .contentProducts{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .infoCardPDP{
    margin-inline: 2rem;

  }

  .containerPricePDP {
    order: 3;
  }


  .descriptionCardPDP {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .containerPricePDP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-end: 3rem;
    align-items: center;

    p {
      font-size: 1.25rem;
      font-weight: 400;
    }
    button {
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 400;
      text-align: center;
    }
  }

  .detailsPDP {
    display: flex;
    flex-direction: column;
    p{
      text-wrap: wrap;
      max-width: 20rem;
    }
  }

  .sizeCard {
    display: flex;
    flex-direction: column;
    margin-block-end: 3rem;

    .sizeContainer {
      display: flex;
      flex-direction: row;
      font-size: 2.1875rem;
      justify-content: space-between;
    }

    .itemSize {
      color: #ababab;
      cursor: pointer;
    }

    .itemSizeOnActive {
      color: $lightBlack;
      cursor: pointer;
    }
  }

  .colorCard {
    display: flex;
    flex-direction: column;

    .colorsContainer {
      display: flex;
      flex-direction: row;
  

      gap: 2rem;
      padding-block-end: 0.35rem;

      .squareGreen,
      .squareRed,
      .squareYellow {
        width: 3.125rem;
        height: 3.125rem;
      }

      .squareGreen {
        background-color: #027c6d;
      }

      .squareRed {
        background-color: red;
      }

      .squareYellow {
        background-color: yellow;
      }
    }
  }

  .buttonErrorPrice{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    span{
      color: red;
    }
  }

  @media screen and (min-width: 780px) {
    .containerCardPDP {
      margin: 0 auto;
      margin-block-end: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .containerImgPDP {
      margin: auto;
        img {
          height: 31.5rem;
          object-fit: cover;
        }
      }
    
    
    .wrapperImg {
      display: flex;
      flex-direction: column;
      text-wrap: nowrap;
    }

    .contentProducts{
      display: flex;
      flex-direction: row;
      @media screen {
        
      }
    }

    .infoCardPDP {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-wrap: wrap;
      max-height: 31.5rem;
      margin-inline:0;
    }   
  }

  .numberSelect {
    margin-top: 20px;

    h3 {
        margin-bottom: 10px;
        font-size: 16px;
    }

    select {
        width: auto;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        outline: none;
        appearance: none; /* per rimuovere lo stile predefinito del browser */
        cursor: pointer;

        &:focus {
            border-color: #007bff;
        }
    }
}
