.containerCardPLP {
    margin: 0 auto;
    max-width: 400px;
    max-height: 600px;
}

.containerImgPLP img {
    width: 400px;
    height: 500px;
    object-fit:cover;
}

.descriptionCardPLP {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerPricePLP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}