@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap");

$fontPrimary: "Jost", sans-serif;
$fontSecondary: "Familjen Grotesk", sans-serif;

// Colors
$gold: #a89156;
$lightBlack: #2f2f2f;
$black: #000000;
$white: #ffffff;
$darkerWhite: #e7e7e7;
$scrollbarColor: #a7a5a5;
$red:red;
$hoverGrey:#f0f0f0;

// Measures
