@import "./defaultVariables.scss";

footer {
  border-top: 0.3rem solid $gold;
  width: 100%;
  height: min-content;
  background-color: $white;
  color: $lightBlack;
  display: flex;
  flex-direction: column;

  h3 {
    display: flex;
    justify-content: center;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    @media only screen and (max-width: 920px) {
      font-size: 1rem;
    }
    @media only screen and (max-width: 480px) {
      font-size: 0.7rem;
    }
  }

  p {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    font-size: 0.9rem;
    @media only screen and (max-width: 920px) {
      font-size: 0.7rem;
    }
    @media only screen and (max-width: 480px) {
      font-size: 0.5rem;
    }
  }
}

.centerText {
  text-align: center;
  color: $gold;
}

.linkBox {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .manBox {
    .manLinkBox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .womanBox {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 0.9rem;
    .womanLinkBox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .accessoriesLink {
    &:hover {
      cursor: pointer;
    }
  }

  .clientAssistanceBox {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    .assistanceLinkBox {
      display: flex;
      flex-direction: column;
    }
  }
  .legalAreaBox {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    .legalLinkBox {
      display: flex;
      flex-direction: column;
    }
  }
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  svg {
    @media only screen and (max-width: 480px) {
      width: 2rem;
    }
  }

  p {
    font-size: 0.625rem;
    padding-inline-start: 0.03125rem;
    position: relative;
    top: 0.9375rem;
    left: 0.3125rem;
  }

  .logoBox {
    display: flex;
    margin: 0.3rem;
    width: auto;
    height: auto;

    .socialLogo {
      width: 100%;
      height: 100%;
      margin: 0.01875rem;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
