.heroSectionContainer {
    position: relative;
    width: 100%;
    padding-block-end: 4rem;
    overflow: hidden;
    .heroSectionImage {
      width: 120rem;    
    }
  
    .heroSectionVideo {
      width: 100%;

    }
  
    .heroSectionVideoContainer {
      transition: transform 1.2s ease-in-out;
      position: relative;
      &.zoomOut {
        transform: scale(1.19);
      }
    }
 }

 .carousel-container{
    margin-block-start: 6rem;
 }