.errorBox {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .errorPBox {
        margin-top: 15rem;
        width: 50%;
        height: max-content;
        align-items: center;
        text-align: center;
        padding: 5rem;
        .purchaseError {
            font-size: 45px;
            font-style: bolder;
            margin-bottom: 7rem;
        }
        .errorSubtitle {
            font-size: x-large;
        }

    }
    .progress-barError {
        width: 50%;
        background-color: $lightBlack;
        border-radius: 0px;
        margin: 20px 0;
        .progressError {
            height: 10px;
            background-color: red;
            border-radius: 0px;
            transition: width 0.5s;
          }
    }
}