.wrapCard {
       display: flex;
       flex-direction: column;
       margin-block-start: 2.5rem;
   }

.containerCards{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
};

#titleProductPage{
       font-weight: normal;
       text-align: left;
       font-size: 4rem
}

.imageProduct{
       width: 100%;
       clip: rect(0, 0, 100rem, 0);
}