/* SIDEBAR */

.navbarPromotion{
    display: flex;
    justify-content: space-between;
    background-color: $lightBlack;
    color: $white;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;

    .navbarPromotionContent {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        white-space: nowrap;
        opacity: 0; 
        transition: opacity 1s ease-in-out; 
        &:hover{
            cursor:pointer;;
            border-bottom: 1px solid $white;
        }
    } 
    .navbarPromotionButton    {
        background-color: $lightBlack;
        color: $white;
        border:none;    
        padding-inline-end: 1rem;
        font-size: 1.2rem;    
    }
}
.navbarPromotionButton:hover{
    cursor:pointer;
}
.navbarPromotionContent.fadeIn {
    opacity: 1;
    
}

.navbarServiceMenuCart img{
    cursor: pointer;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    background-color: $white;
    height: 100%;
    .navbarLogoContainer{
        width: 10%;
        padding-inline-start: 1rem;
       /*  margin-top:1rem; */
        .navbarLogo{
            width: 18rem;
            height: 100%;
        }
    }
    .navbarTitleName{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center; 
            .navbarTitleNameSubTitle{
                font-style: italic;
            }
    }
    .navbarMenuItem{
        display: flex;
        flex-direction: row;
        align-items: center;  
        gap: 12rem;
        .navbarMenuItemAccessoriesTitle{
            cursor:pointer;
        }
    }
    
}

    .navbarHoverImage{
        height: 20rem;
        width: 20rem;
    }

.navbarServiceMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
/* .navbarMenuItemMen,
.navbarMenuItemWomen,
.navbarMenuItemAccessories {

}
    
 */
 
.navbarHoverMen ,
 .navbarHoverWomen {
    width: 100%;
    position: absolute;
    background-color: $white; 
    padding: 1rem;
    border-top: none;
    border-radius: 1rem;
    width:max-content; 
    top:5rem;
    left: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .navbarHoverImage {
        margin: 1rem;
    }
  }











/* 
HAMBURGER MENU  */

 .visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}




/* MEDIA QUERY  */

@media only screen and (max-width: 600px) {
    
    .navbarServiceMenu{
        display: none;
    }
    .navbarMenuItemMen,
    .navbarMenuItemWomen     {
        display: none;
    }
    .navbarMenuItem{
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        display: none;
    }
}