@import "../defaultVariables.scss";

.divForm {
  display: flex;
  width: 100%;
  height: auto;
  background-color: $white;
}

.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 2rem;
  padding: 1rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }

  @media (max-width: 600px) {
    font-size: 0.8rem;
  }

  @media (max-width: 400px) {
    font-size: 0.5rem;
  }

  button {
    font-size: 1.5rem;
  }
}

.divForm {
  h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  p {
    font-size: 1rem;
  }
}

.subscribeInput {
  background-color: #d9d9d9;
  border: #989180 0.25rem solid;
  color: #000; // Use hex value for black
  height: 2.5rem;
  max-width: 21.875rem; // 350px
  width: 100%; // Allow the input to resize
  font-size: auto;
  box-sizing: border-box; // Ensures padding and border are included in the element's total width and height
  padding: 1rem; // Optional padding to ensure text doesn't touch the border
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribeThank {
  background-color: rgba($black, 1);
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white;
  position: absolute;

  // Ensure the font size is consistent with the form
  font-size: 2rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }

  @media (max-width: 600px) {
    font-size: 0.8rem;
  }

  @media (max-width: 400px) {
    font-size: 0.5rem;
  }
}

.subscribeThank.show {
  display: flex;
}
