@import "./style/defaultVariables.scss";
@import "./style/ButtonsSCSS/ButtonTmg.scss";
@import "./style/ButtonsSCSS/ButtonTmg2.scss";
@import "./style/ButtonsSCSS/ButtonTmg3.scss";
@import "./style/NewsLetter/SubscribeInput.scss";
@import "./style/Sidebar.scss";
@import './style/cardPLP.scss';
@import './style/cardPDP.scss';
@import './style/plp.scss';
@import "./style/Footer.scss";
@import "./style/heroSection.scss";
@import "./style/Payment/Payment.scss";
@import "./style/sidebarCart.scss";
@import "./style/CarouselScss/Carousel.scss";
@import "./style/paymentSucced.scss";
@import "./style/paymentFailed.scss";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #a7a5a5 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a7a5a5;
    border-radius: 26px;
    border: 7px dashed #ffffff;
  }



section{
  max-width: 2000px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.linkTag{
  text-decoration: none;
  color: black;
}