@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "./style/ButtonsSCSS/ButtonTmg.scss";
@import "./style/ButtonsSCSS/ButtonTmg2.scss";
@import "./style/ButtonsSCSS/ButtonTmg3.scss";
@import "./style/NewsLetter/SubscribeInput.scss";
@import "./style/Sidebar.scss";
@import './style/cardPLP.scss';
@import './style/cardPDP.scss';
@import './style/products.scss';
@import "./style/Footer.scss";
@import "./style/heroSection.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Jost", sans-serif;
}

section{
  max-width: 2000px;
  margin: 0 auto;
}