@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "./style/defaultVariables.scss";
@import "./style/NewsLetter/SubscribeInput.scss";
@import "./style/navbar.scss";
@import './style/Card/cardPLP.scss';
@import './style/Card/cardPDP.scss';
@import './style/plp.scss';
@import "./style/Footer.scss";
@import "./style/heroSection.scss";
@import "./style/Payment/Payment.scss";
@import "./style/Payment/paymentSucced.scss";
@import "./style/Payment/paymentFailed.scss";
@import "./style/Cart/sidebarCart.scss";
@import "./style/CarouselScss/Carousel.scss";
@import "./style/Cart/Cart.scss";
@import "./style/ButtonsSCSS/ButtonTmg3.scss";
@import "./style/Form/login.scss";
@import "./style/Form/registration.scss";
@import "./style/content.scss";
@import "./style/Card/animatedCards.scss";
@import "./style/breadCrumbs.scss";
@import url("./style/promoCompontent.scss");


* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontSecondary;
}

html{
  scroll-behavior: smooth;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: $scrollbarColor $white;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: $white;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $scrollbarColor;
    border-radius: 26px;
    border: 7px dashed $white;
  }



  section {
    padding-block:8rem;
  }
  

.linkTag{
  text-decoration: none;
  color: $black;
}

