.containerCart{
  display: flex;
  flex-direction: column;
  padding-inline-start: 15px;
    padding-inline-end: 15px;
  h3{
    font-weight: 300;
  }
  .logoCart{
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    padding-block-start: 25px;
    padding-block-end: 25px;
  }
}

.wrapperProductCart{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wrapperTitleCart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img{
    cursor: pointer;
  }
}

.titleCart{
  display: flex;
  gap: 0.4rem;
}

.productMenu{
  position: relative;
    display: flex;
    justify-content: space-around;
    float: right;
    width: 100%;
    text-transform: uppercase;
    z-index: 2;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}

.productMenu:first-child{
  width: 30%;
}

.containerProduct{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 750px;
  overflow-y: scroll;
  .titleProduct{
    position: fixed;
    z-index: 2;
    height: 3rem;
    width: 25%;
    background-color: white;
    width: 30%;
    text-align: center;
  }
}

.wrapperProduct{
  display: flex;
  flex-direction: column;
}

.product{
  display: flex;
  gap: 1rem;
 img{
      width: 30%;
  }
}

.wrapperInfoProduct{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 202px;
.infoProduct{
  display: flex;
  flex-direction: column;
}
.quantityProduct{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  .buttonCart{
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}
}

.totalContainer{
  margin-block-start: 2rem;
}