.tabs-horizontal {
  .tabs {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead,
    tbody {
      display: flex;
      flex-direction: column;
    }

    tr {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      th,
      td {
        flex: 1;
        display: flex;
        align-items: flex-end; // Allinea il contenuto in basso
        justify-content: center; // Centra il contenuto orizzontalmente
        padding: 10px;
        text-align: center;
      }
      td {
        height: 300px;
        padding: 20px;
      }

      th {
        border-bottom: 1px solid black;
        padding: 20px;
      }
    }
  }

  .ButtonTmgCss3 {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: none;
    margin: 0;
    text-align: center;

    &:hover {
      font-weight: bold;
      border-bottom: 2px solid #000;
      text-decoration: none;
    }
    &.active {
      font-weight: bold;
      border-bottom: 2px solid #000;
    }
  }

  .tab-content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
}

.product_in_carrel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product_in_carrel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center; /* Centra la griglia orizzontalmente */
  align-items: center; /* Centra i figli verticalmente */

  > div {
    padding: 10px;
    border: 1px solid #ccc;
    justify-self: center; /* Centra i figli orizzontalmente all'interno delle colonne */
  }
}

.buttonsTabs {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  table thead,
  table tbody,
  table tr {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    tr:last-child td:nth-last-child(-n + 4) {
      border: 1px solid black;
    }
  }

  table th,
  table td {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  table th {
    justify-content: flex-end;
  }

  table td {
    justify-content: flex-start;
  }
}
